[submodule "vendor/jetpack-nixos"]
	path = vendor/jetpack-nixos
	url = git@github.com:anduril/jetson-nixos
[submodule "vendor/flake-compat"]
	path = vendor/flake-compat
	url = git@github.com:nixos/flake-compat
